.page{
    height: 100vh;
    width: 100vw;

}
.classes{
    border: red solid 2px;
    max-height: 30vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}