.newSec{
    width: 100vh;
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#classes{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.materias, .nueva{
    color: rgba(0, 67, 121, 1);
}
.btnNew{
    margin-top: 20px;
    width: 250px;
    height: 40px;
    border: rgba(0, 67, 121, 1) solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.nueva{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 25px;

}
.icon{
    padding-top: 2px;
    height: 40px;
    width: 40px;
}

img{
    width: 35px;
    height: 35px;
}


.modal-content{
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    height: 250px;
}

